spring:
  application:
    name: MovieService
  datasource:
    url: jdbc:mysql://localhost:3306/movieDb
    username: root
    password: bharatmarwah2804
  data:
    redis:
      host: localhost
      port: 6379
    cache:
      type: redis

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


eureka:
  instance:
    prefer-ip-address: true

  client:
    fetch-registry: true
    register-with-eureka: true


