spring:
  application:
    name: MovieService
  datasource:
    url: jdbc:mysql://localhost:3306/movieDb
    username: root
    password: bharatmarwah2804

  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true

eureka:
  instance:
    prefer-ip-address: true

  client:
    fetch-registry: true
    register-with-eureka: true